docker/docker-data/minio/*
docker/docker-data/postgres/*
docker/docker-data/rabbitmq/*
docker/docker-data/pgadmin/*

# Environment files
docker/.env
docker/.env.development
docker/.env.production

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-*
